body {
    background-color: rgb(31, 23, 0);
    color: rgb(252, 193, 44);
    font-family: "Quicksand", sans-serif;
    margin: 0px 20px;
}

h1 {
    font-size: 30px;

}

p {
    font-size: 15px;
}

header {
    font-size: 60px;
    border-bottom: solid 2px rgb(252, 193, 44);
    padding: 30px;
    font-weight: bold;
}
