body {
    background-color: rgb(31, 23, 0);
    color: rgb(252, 193, 44);
    font-family: "Quicksand", sans-serif;
    margin: 0px;
    margin-bottom: 100px;

}

.chamada {
    background: rgb(212, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 30px;

}

p {
    font-size: 15px;
}

header {
    font-size: 60px;
    border-bottom: solid 2px rgb(252, 193, 44);
    padding: 30px;
    font-weight: bold;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
