body {
    background-color: black;
    color: goldenrod;
    font-family: "Quicksand", sans-serif;
    margin: 0px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

header {
    font-size: 60px;
    border: solid 2px red;
}